/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-Jun-2021, 9:56:19 AM
    Author     : chetan
*/

.body{
    background-color: hsl(216, 100%, 96%);
}
.bg-custom{
    background-color: hsl(217, 19%, 18%);
}
.navbar .nav-item:hover .nav-link{
    color: hsl(217, 19%, 18%);
    background-color: white;
    border-radius: 15px;
}
.top-navbar-custom{
    border-top: 10px solid hsl(217, 19%, 18%);
}
.top-navbar-custom2{
    display: none;
}
@media only screen and (max-width: 991px) {
    .top-navbar-custom {
        display: none;
    }
    .top-navbar-custom2{
        display: block;
    }
}
@media only screen and (max-width: 575px){
    .top-navbar-custom2 h3{
        font-size: 22px;
    }
    .top-navbar-custom2 button{
        font-size: 12px;
    }
}
.card-custom{
    background: white;
    text-decoration: none;
}
.card-custom:hover{
    background-color: #ebe4e4;
    text-decoration: none;
}
.card-link-a:hover{
    text-decoration: none;
}
.thead-dark-custom{
    background-color: #323640;
    color: white;
}

.btn-danger{
    background-color: hsl(2, 80%, 50%) !important;
}
.btn-outline-danger{
    border-color: hsl(2, 80%, 50%) !important;
    color: hsl(2, 80%, 50%) !important;
}
.btn-outline-danger:hover {
    background-color: hsl(2, 80%, 50%) !important;
    color: hsl(216, 100%, 96%) !important;
}

.btn-primary{
    border-color: hsl(160, 100%, 35%) !important;
    background-color: hsl(160, 100%, 35%) !important;
}

.btn-outline-primary{
    border-color: hsl(160, 100%, 35%) !important;
    color: hsl(160, 100%, 35%) !important;
}
.btn-outline-primary:hover {
    background-color: hsl(160, 100%, 35%) !important;
    color: hsl(216, 100%, 96%) !important;

}

.btn-success{
        border-color: hsl(150, 85%, 40%) !important;

    background-color: hsl(150, 85%, 40%) !important;
}

.btn-outline-success{
    border-color:  hsl(150, 85%, 40%) !important;
    color: hsl(150, 85%, 40%) !important;
}
.btn-outline-success:hover {
    background-color: hsl(150, 85%, 40%) !important;
    color: hsl(216, 100%, 96%) !important;

}

.nav-link{
    
    padding-left: 8px !important;
}

.text-info {
    color: hsl(215, 80%, 34%) !important;
}
.text-primary{
    color: hsl(160, 100%, 35%) !important;
}
.text-danger{
    color: hsl(2, 80%, 50%) !important;
}
.text-success{
    color: hsl(150, 85%, 40%) !important;
}
.page-link{
    border-color: hsl(217, 19%, 18%) !important;
    color:  hsl(217, 19%, 18%) !important;
}

.page-item.active .page-link{
    background-color: hsl(217, 19%, 18%) !important;
    color:  hsl(216, 100%, 96%) !important;
}